.management > div:nth-child(2) {
    height: calc(100vh - 60px);
    padding: 20px 22px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search {
    width: 100%;
    position: relative;

    .bar {
        margin-bottom: 20px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
            height: 100%;
            border: 1px solid rgba(0, 0, 0, .3);
            border-right: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            font-size: 2.1rem;
            padding-left: 20px;
            outline: none;
            font-family: 'Ubuntu', sans-serif;
            transition: 250ms border-color;

            &:hover:not(:focus) {
                border-color: rgba(0, 0, 0, .5);
            }
        }

        button {
            height: 100%;
            border: 1px solid rgba(0, 0, 0, .3);
            border-radius: 20px;
            transition: background-color,transform 250ms;

            .icon {
                font-size: 1.6rem;

                &:has(~ .text) {
                    margin-right: 12px;
                }
            }

            .text {
                white-space: nowrap;
                font-size: 1.6rem;
            }
        }

        button:not(:last-child) {
            margin-right: 10px;
        }

        button:not(.search) {
            color: white;
            width: auto;
            display: flex;
            align-items: center;
            padding: 0 20px;
        }

        button.search {
            aspect-ratio: 1;
            width: auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:hover:not(:active) {
                cursor: pointer;
                background-color: rgb(227, 227, 227);
            }

            &:active {
                background-color: rgb(240, 240, 240);
            }
        }
    }

    .items {
        height: calc(100% - 110px);

        * {
            font-size: 1.45rem;
        }

        .header {
            height: 50px;
            font-weight: 600;
            border-bottom: 1px solid black;

            * {
                font-size: 1.9rem;
            }

            .select {
                display: flex;
                justify-content: center;
                padding-top: 6px;

                input:not(:active) {
                    cursor: pointer;
                }

                input {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .list {
            height: calc(100% - 50px);
            overflow-y: auto;

            &::-webkit-scrollbar {
                background-color: #d1d1d1;
                width: 7px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: black;
                cursor: pointer;
            }

            .item:not(:active) {
                cursor: pointer;
            }

            .item {
                height: 80px;
                width: 100%;
                border-bottom: 1px solid black;
                transition: 300ms all;
                --select-color: #EFD780;
                --current-color: #069E2D;

                & > * {
                    display: flex;
                    align-items: center;
                    overflow-x: hidden;
                }

                &.current {
                    background-color: var(--current-color);
                    color: white;
                }

                &:not(&.current):has(input:checked) {
                    background-color: var(--select-color);
                }

                .select {
                    justify-content: center;

                    input:not(:active) {
                        cursor: pointer;
                    }

                    input {
                        width: 24px;
                        height: 24px;
                    }
                }


            }
        }
    }
}
